.container {
    text-align: center;
    margin-top: 20%;
  }
  
  .increase {
    color: green;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 22px;
    margin-right: 8px;
    cursor: pointer;
  }
  
  .count {
    margin-right: 8px;
    font-size: 22px;
  }
  
  .decrease {
    color: red;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 22px;
    cursor: pointer;
  }